@charset "UTF-8";
@font-face {
  font-family: "Open-Sans";
  src: url(../fonts/OpenSansCondensed-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open-Sans";
  src: url(../fonts/OpenSansCondensed-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cormorant";
  src: url(../fonts/Cormorant-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cormorant";
  src: url(../fonts/Cormorant-BoldItalic.woff2) format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

._container {
  max-width: calc(var(--container-width) + var(--container-padding) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding);
}

@media (width < 768px) {
  ._hidden-mobile {
    display: none !important;
  }
}

@media (width >= 768px) {
  ._visible-mobile {
    display: none !important;
  }
}

@media (width >= 425px) {
  ._visible-small-mobile {
    display: none !important;
  }
}

* {
  transition: var(--transition-duration) linear;
}

body {
  font-family: var(--font-family-fortext);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  background-color: var(--color-dark-grey);
}

a,
button,
svg *,
input,
textarea {
  transition-duration: var(--transition-duration);
  font-family: inherit;
}

a {
  font-size: inherit;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

button {
  background: transparent;
}

:root {
  --color-dark-grey: #1D2F30 ;
  --color-grey: #899D9D;
  --color-accent: #BAE249;
  --color-dark-accent: #688B05;
  --color-light: #FFFFFF;
  --color-green: #91AC46;
  --color-dark: #0B1919;
  --font-family-fortext: "Open-Sans", sans-serif;
  --font-family-fortitle: "Cormorant", sans-serif;
  --container-width: 1110px;
  --container-padding: 32px;
  --input-height: 45px;
  --button-height: 45px;
  --transition-duration: .2s;
  --border-card: 1px solid #0B1919;
}

.arrow {
  width: 43px;
  height: 2px;
  background-color: currentColor;
  position: relative;
  transition: 0.1s;
}
.arrow::before, .arrow::after {
  content: "";
  position: absolute;
  right: -1px;
  background-color: currentColor;
  height: 2px;
  width: 9px;
  transform-origin: right;
  border-radius: 8px;
}
.arrow::before {
  transform: rotate(45deg);
  bottom: -1px;
}
.arrow::after {
  transform: rotate(-45deg);
  bottom: 1px;
}

.header {
  padding-block: 18px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 125px;
       column-gap: 125px;
}
@media (width < 1024px) {
  .header__container {
    -moz-column-gap: 100px;
         column-gap: 100px;
  }
}
@media (width < 768px) {
  .header__container {
    -moz-column-gap: 0;
         column-gap: 0;
  }
}
.header__nav {
  margin-right: auto;
  position: relative;
}
@media (width < 768px) {
  .header__nav {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: var(--color-dark-grey);
  }
}
.header__nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 64px;
       column-gap: 64px;
}
@media (width < 768px) {
  .header__nav-list {
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: 40px;
  }
}
@media (width < 1024px) {
  .header__nav-list {
    -moz-column-gap: 48px;
         column-gap: 48px;
  }
}
.header__nav-item {
  color: #fff;
}
@media (width < 768px) {
  .header__nav-item a {
    font-size: 32px;
  }
}
@media (hover: hover) {
  .header__nav-item:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .header__nav-item:active {
    color: var(--color-accent);
  }
}
@media (width < 1024px) {
  .header__nav-item {
    font-size: 14px;
  }
}
.header__nav-item:active {
  color: var(--color-dark-accent);
}
.header__buttons {
  display: flex;
  align-items: center;
  -moz-column-gap: 64px;
       column-gap: 64px;
}
@media (width < 1024px) {
  .header__buttons {
    -moz-column-gap: 44px;
         column-gap: 44px;
  }
}
.header-button {
  color: var(--color-accent);
}
@media (hover: hover) {
  .header-button:hover {
    color: var(--color-green);
  }
}
@media (hover: none) {
  .header-button:active {
    color: var(--color-green);
  }
}
.header-button:active {
  color: var(--color-dark-accent);
}
.header-burger {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 20px;
  aspect-ratio: 1;
  position: relative;
}
.header-burger span {
  width: 75%;
  background-color: var(--color-accent);
  height: 2px;
}
.header-burger span:before, .header-burger span:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--color-accent);
}
.header-burger span:before {
  top: 0;
  left: 0;
}
.header-burger span:after {
  bottom: 0;
  left: 0;
}
.header-burger-close {
  position: absolute;
  width: 30px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 50px;
  top: 50px;
}
.header-burger-close:before, .header-burger-close:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--color-accent);
}
.header-burger-close::before {
  transform: rotate(45deg);
}
.header-burger-close::after {
  transform: rotate(-45deg);
}

.section-with-first-bg {
  padding-block: 115px;
  overflow: hidden;
  position: relative;
}
@media (width < 768px) {
  .section-with-first-bg {
    padding-block: 100px;
  }
}

.section-first-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.4;
  z-index: -1;
}

.dark-bg {
  width: 100vw;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
}

.first-bg__body {
  color: #fff;
  z-index: 10;
}
.first-bg__body-title {
  font-family: var(--font-family-fortitle);
  line-height: 1;
  font-weight: 700;
  margin-bottom: 16px;
  font-size: clamp(48px, 4.1666666667vw, 60px);
}
.first-bg__body-discription {
  line-height: 1.6;
  font-weight: 400;
  margin-bottom: 24px;
  font-size: clamp(12px, 1.1111111111vw, 16px);
}
.first-bg__body-button {
  color: var(--color-accent);
  transition: 0.1s;
  display: inline-block;
}
.first-bg__body-button a {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  transition: 0.1s;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.375;
}
@media (width < 768px) {
  .first-bg__body-button a {
    font-size: 14px;
  }
}
@media (hover: hover) {
  .first-bg__body-button:hover {
    color: var(--color-green);
  }
  .first-bg__body-button:hover a div {
    width: 53px;
  }
}
@media (hover: none) {
  .first-bg__body-button:active {
    color: var(--color-green);
  }
  .first-bg__body-button:active a div {
    width: 53px;
  }
}
.first-bg__body-button:active {
  color: var(--color-dark-accent);
}

.section__plants {
  padding-block: 60px;
}

.plants__container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.plants__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
@media (width < 768px) {
  .plants__list {
    flex-wrap: nowrap;
    gap: 20px;
  }
}
.plants__list-card {
  border: var(--border-card);
  height: 493px;
  width: 255px;
  display: flex;
  flex-direction: column;
  position: relative;
  transform: translateX(2%);
}
@media (width < 425px) {
  .plants__list-card {
    left: 39%;
  }
}
@media (width < 768px) {
  .plants__list-card {
    height: 470px;
    left: 25%;
  }
}
.plants__list-card-body {
  padding: 16px;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: start;
}
.plants__list-card-body-title {
  font-family: var(--font-family-fortitle);
  font-size: 24px;
  line-height: 1.5;
}
@media (width < 768px) {
  .plants__list-card-body-title {
    font-size: 20px;
  }
}
.plants__list-card-body-discription {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-grey);
}
@media (width < 768px) {
  .plants__list-card-body-discription {
    font-size: 14px;
  }
}
.plants__list-card-body-button {
  color: var(--color-accent);
  border: solid 1px var(--color-accent);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  padding: 11px 29px;
  margin-top: auto;
}
.plants__list-item-image {
  background-color: var(--color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  position: relative;
}
.plants__list-item-image:before {
  content: "2.4";
  color: var(--color-grey);
  font-family: var(--font-family-fortitle);
  font-size: 16px;
  line-height: 1.25;
  border: 1px solid var(--color-grey);
  border-radius: 50%;
  position: absolute;
  left: 16px;
  top: 16px;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 24px;
  aspect-ratio: 1;
}

.slide-dots {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.slide-dots-dot {
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--color-dark);
}

.active {
  top: 0;
}

.visible {
  background-color: var(--color-accent);
}

.slideFc1 {
  left: -26%;
}
@media (width < 425px) {
  .slideFc1 {
    left: 12%;
  }
}

.slideFc2 {
  left: -12%;
}

.slideFc3 {
  left: -39%;
}/*# sourceMappingURL=main.css.map */