.section-with-first-bg {
  padding-block: 115px;
  overflow: hidden;
  position: relative;
}

.section-first-bg {
  position: absolute;
  width: 100%;
  left: 0;
  top: -60px;
  opacity: 0.6;
  z-index: -1;
}

.dark-bg {
  width: 100vw;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
}

.first-bg__body {
  color: #fff;
  z-index: 10;

  &-title {
    font-family: var(--font-family-fortitle);
    font-size: 60px;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 16px;
  }

  &-discription {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    margin-bottom: 24px;
  }

  &-button {
    color: var(--color-accent);
    transition: .1s;
    
    a {
      display: flex;
      align-items: center;
      column-gap: 8px;
      transition: .1s;
    }

    @include hover {
      color: var(--color-dark-accent);

      a div {
        width: 53px;
      }
    }
  }
}