.section-with-first-bg {
  padding-block: 115px;
  overflow: hidden;
  position: relative;

  @include mobile {
    padding-block: 100px;
  }
}

.section-first-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.4;
  z-index: -1;
}

.dark-bg {
  width: 100vw;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
}

.first-bg__body {
  color: #fff;
  z-index: 10;

  &-title {
    font-family: var(--font-family-fortitle);
    line-height: 1;
    font-weight: 700;
    margin-bottom: 16px;

    @include fluid-text(48, 60)
  }

  &-discription {
    line-height: 1.6;
    font-weight: 400;
    margin-bottom: 24px;
    @include fluid-text(12, 16);    
  }

  &-button {
    color: var(--color-accent);
    transition: .1s;
    display: inline-block;
    
    a {
      display: flex;
      align-items: center;
      column-gap: 8px;
      transition: .1s;
      font-size: 16px;
      font-weight: 700;
      line-height: calc(22 / 16);

      @include mobile {
        font-size: 14px;
      }
    }

    @include hover {
      color: var(--color-green);

      a div {
        width: 53px;
      }
    }

    &:active {
      color: var(--color-dark-accent);
    }
  }
}