:root {
  --color-dark-grey: #1D2F30 ;
  --color-grey: #899D9D;
  --color-accent: #BAE249;
  --color-dark-accent: #688B05;
  --color-light: #FFFFFF;
  --color-green: #91AC46;
  --color-dark: #0B1919;
  --color-green-text: #506829;

  --font-family-fortext: 'Open-Sans', sans-serif;
  --font-family-fortitle: 'Cormorant', sans-serif;

  --container-width: 1110px;
  --container-padding: 32px;

  --input-height: 45px;
  --button-height: 45px;

  --transition-duration: .2s;

  --border-card: 1px solid #0B1919;

}